@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<P>Feel Free if really need me after final </p>

<address>
    <strong>Support:</strong> <a href="644731564@qq.com">644731564@qq.com</a><br />

</address>
