@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>
    <br><b><font size="10" >Welcome to AnimeCollections!</font></b><br />
    <br><br />

            <br> I use Asp.net 2.0 in this Project. This AnimeCollection website.<br />
            <br>you can post your <b>favourite anime.</b> <br />
            <br>You can serach you favortie anime by <b>genre or name and sort by rating / dates.</b><br />
            <br><br />
            <br>Put Your favortie anime into this Collection!<br />




</p>